body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


.contactForm input{
	display: block;
}
.checkBox input {
	display: block;
}

img {
	max-width: 300px;
}

.checkbox input{
	display: inline;
	white-space: nowrap;
}

.abtMe {
	text-align: center;
}

.dbImg {
	
	display: flex;
	justify-content: center;
}

.dbImg img{
	border-radius: 25px;
}

.list{
	display: flex;
	justify-content: space-around;
	
}

.list ul{
	list-style-type: square;
}

#skills h3 {
	text-decoration: underline;
}

#Interests h3 {
	text-decoration: underline;
}

.goals {
	text-align: center;
}

 h2{
	text-align: center;
}

.qForm input {
    width: 100%;
	border-radius: 10px;
	
}

.qForm button {
	margin-top: 10px;
}

.buttons {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	
}

.favColor{
	background-color: black;
	color: red;
	box-shadow: 3px 5px 5px blue;
}
.favPlace{
	background-color: black;
	color: greenyellow;
	font-weight: bold;
	box-shadow: 3px 5px 5px red;
}
.favRitual{
	background-color: black;
	color: rgb(63, 107, 252);
	box-shadow: 3px 5px 5px hotpink;
}

.grow{
	transform: scale(1.5);
	
}
